process {
    memory = "8G"
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    ext.cpu = "cpu"
    ext.skip_stripped = false
    ext.segment_only = false
    ext.threshold = 0.5
    ext.lesion_threshold = 0
    ext.clipping = "0.5 99.5"
    ext.fast_mode = false
    ext.single_thread = false
}
