process {

    withName: "MAGETBRAIN:REGISTER_ATLAS_TEMPLATE" {
        ext.transform = "s"
        ext.single_thread = params.magetbrain_single_thread
        ext.repro_mode = params.magetbrain_repro_mode
    }

    withName: "MAGETBRAIN:REGISTER_TEMPLATE_SUBJECT" {
        ext.transform = "s"
        ext.single_thread = params.magetbrain_single_thread
        ext.repro_mode = params.magetbrain_repro_mode
    }

    withName: "MAGETBRAIN:RESAMPLE_LABELS" {
        ext.interpolation = "GenericLabel"
        ext.dimensionality = 3
        ext.image_type = 0
        ext.default_val = 0
        ext.single_thread = params.magetbrain_single_thread
    }

    withName: "MAGETBRAIN:IMAGE_ANTSMATH" {
        ext.operation = "MajorityVoting"
        ext.suffix = "majorityvote"
        ext.single_thread = params.magetbrain_single_thread
    }
}
