process {

    withName: "MAGETBRAIN:REGISTER_ATLAS_TEMPLATE" {
        ext.transform = "s"
        ext.random_seed = 1234
    }

    withName: "MAGETBRAIN:REGISTER_TEMPLATE_SUBJECT" {
        ext.transform = "s"
        ext.random_seed = 1234
    }

    withName: "MAGETBRAIN:RESAMPLE_LABELS" {
        ext.interpolation = "GenericLabel"
        ext.dimensionality = 3
        ext.image_type = 0
        ext.default_val = 0
    }
}
