params.max_cpus = 4
params.max_time = 24.h


profiles {
    default_github_runner {
        params.max_memory = 5.GB
    }
    big_mem_github_runner {
        params.max_memory = 16.GB
    }
    devcontainer {
        params.max_cpus = {
            def cpu_limit = System.getenv("DEVCONTAINER_CPU_LIMIT")
            return cpu_limit ? (cpu_limit as int) : Runtime.runtime.availableProcessors()
        }.call()

        params.max_memory = {
            def memory_limit = System.getenv("DEVCONTAINER_RAM_LIMIT_GB")
            return memory_limit ? "${memory_limit}.GB" : "16.GB" // fallback value
        }.call()
    }
}
