params.max_cpus = 4
params.max_time = 24.h

params.query_container_limits = { type ->
    if (type == 'memory') {
        try {
            def memory_limit = env('DEVCONTAINER_RAM_LIMIT_GB')
            if (memory_limit) {
                return "${memory_limit}.GB"
            } else {
                def osBean = java.lang.management.ManagementFactory.getOperatingSystemMXBean()
                def mxBean = osBean as com.sun.management.OperatingSystemMXBean
                def sysmem = (mxBean.getTotalPhysicalMemorySize() / 1073741824).toInteger()
                return "${sysmem}.GB"
            }
        } catch (_all) {
            return 0.GB
        }
    } else if (type == 'cpus') {
        try {
            def cpu_limit = env('DEVCONTAINER_CPU_LIMIT')
            if (cpu_limit) {
                return cpu_limit as int
            } else {
                return java.lang.Runtime.getRuntime().availableProcessors() as int
            }
        } catch (_all) {
            return 1
        }
    }
}

profiles {
    default_github_runner {
        params.max_memory = 5.GB
    }
    big_mem_github_runner {
        params.max_memory = 16.GB
    }
    devcontainer {
        params.max_cpus = params.query_container_limits('cpus')
        params.max_memory = params.query_container_limits('memory')
    }
}
